/* 
    Common
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 400;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Paytone One', sans-serif;
}

/* 
    App styles
*/

.header {
    position: fixed;
    top: 0;
    padding: 35px 55px;
    z-index: 9999;
    width: 100%;
    transition: 1s;
}

.header__navigation {
    display: flex;
    align-items: center;
}

.header__menu {
    display: flex;
    list-style: none;
    column-gap: 30px;
}

.header__menu-item {
    font-family: 'Paytone One', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
}

.logo {
    margin-right: 70px;
}

.header.header__scrolled {
    padding: 5px 55px;
    background-color: #fff;
    transition: 1s;
}

.header.header__scrolled .header__menu-item {
    color: black;
}

.container {
    max-width: 994px;
    width: 100%;    
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: calc(100vh - 570px);

    margin: 0 auto;
    background: linear-gradient(180deg, rgba(50, 42, 39, 0) 0%, rgba(45, 40, 40, 0.85) 33.85%, #2D2828 49.48%, #2D2828 68.75%, #2D2828 82.29%, #2D2828 100%);
    min-height: 1680px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-sizing: border-box;
    box-shadow: -15px 0px 15px rgba(0, 0, 0, 0.3);
}

.form {
    display: flex;
    column-gap: 20px;
}

.form__input,
.form__submit {
    background-color: transparent;
    height: 36px;
    color: rgba(255, 255, 255, 0.4);
    border-radius: 18px;
    border: 2px solid rgba(255, 255, 255, 0.4);
    font-family: 'Pavanam', sans-serif;
    font-size: 14px;
}

.form__input {
    padding: 9px 35px;
}

.form__submit {
    padding: 9px 20px;
    border-color: #FF1640;
    line-height: 14px;
    cursor: pointer;
    transition-duration: 0.5s;
}

.form__submit:hover {
    /* border-color: rgba(255, 255, 255, 0.4); */
    background-color: #FF1640;
    color: white;
}

/*  */

#section-top {
    width: 100%;
    height: 100vh;
    background-image: url(img/main-bg.jpg);
    background-position: center center;

    position: relative;
}

.section-top__main-header {
    font-size: 64px;
    color: #fff;
}

.section-top__secondary-header {
    font-size: 20px;
    color: #fff;
    margin-bottom: 30px;
}

.section-top__description {
    font-family: 'Segoe UI';
    font-size: 18px;
    color: #fff;
    max-width: 432px;
    margin-bottom: 25px;
}

.social-media {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding: 25px 0;
}

#section-middle {
    min-height: 1670px;
    background-color: #C4C4C4;
    background-image: url(img/bg/bg-grey-wall.jpg);
    position: relative;
}

.promo {
    position: relative;
    margin: 50px 67px 40px;
    min-height: 308px;
}

.promo__image {
    width: 293px;
    height: 237px;
    object-fit: cover;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(-10px 15px 10px rgba(0, 0, 0, 0.25));

    position: absolute;
    bottom: 0;
    z-index: 1;
}

.promo__image:nth-child(1) {
    background: linear-gradient(180.1deg, 
            rgba(44, 40, 40, 0) 0.09%, 
            rgba(44, 40, 40, 0.5) 55.06%, 
            rgba(44, 40, 40, 0.664052) 100.46%, #2C2828 148.14%), 
            url(img/promo/promo1.jpg);
    background-position: center center;
    background-size: 293px 237px;
}

.promo__image:nth-child(2) {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;

    background: linear-gradient(180.1deg, 
            rgba(44, 40, 40, 0) 0.09%, 
            rgba(44, 40, 40, 0.5) 55.06%, 
            rgba(44, 40, 40, 0.664052) 100.46%, #2C2828 148.14%), 
            url(img/promo/promo2.jpg);

    background-position: center center;
    background-size: 293px 237px;
}

.promo__image:nth-child(3) {
    right: 0;

    background: linear-gradient(180.1deg, 
            rgba(44, 40, 40, 0) 0.09%, 
            rgba(44, 40, 40, 0.5) 55.06%, 
            rgba(44, 40, 40, 0.664052) 100.46%, #2C2828 148.14%), 
            url(img/promo/promo3.jpg);
    background-position: center center;
    background-size: 293px 237px;
}

.marketing {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
}

.marketing__text {
    font-family: 'Paytone One', sans-serif;
    color: #fff;
    font-size: 25px;
}

.marketing__btn {
    background: linear-gradient(180deg, #864A23 0%, #6A3A1B 100%);
    border-radius: 20px;
    border: none;
    padding: 7px 16px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Segoe UI';
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.marketing__btn img {
    margin-right: 7px;
}

.box {
    width: 842px;
    height: 464px;
    position: absolute;
    border: 1px solid red;
    bottom: 108;
    left: 50%;
    transform: translate(-50%);
}